$fg-very-light: #CCC;
$fg-quite-light: #AAA;
$fg-medium: #555;
$fg-quite-dark: #444;
$fg-very-dark: #333;

$bg-very-light: $fg-very-light;
$bg-quite-light: $fg-quite-light;
$bg-medium: #777;
$bg-quite-dark: $fg-quite-dark;
$bg-very-dark: $fg-very-dark;

