.header {
    align-items: center;
    background-color: $bg-very-dark;
    color: $fg-very-light;
    display: flex;
    height: 20%;
    justify-content: center;
    position: fixed;
    top: 0%;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-out;
    width: 100%;

    &:hover {
        letter-spacing: .33rem;
    }

    #name {
        font-size: 2.88rem;
        text-align: center;
    }
}
